<nav [ngClass]="{'top': isTop}" >
  <div class="brand">
    <i></i>
    <span>UX UI DESIGN STUDIO</span>
  </div>
  <ul>
    <li class="navAnimate"><a href="javascropt:void()">PROCESS</a></li>
    <li class="navAnimate"><a href="javascropt:void()">PROJECTS</a></li>
    <li class="navAnimate"><a href="javascropt:void()">ABOUT</a></li>
    <li>
      <a href="javascropt:void()" class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </a>
    </li>
  </ul>
</nav>
