<section class="home" >
      <div class="column" >
        <div class="centerColumn">
          <span class="homeContaintMargin">We’ve made an impact on</span>
          <h1>
            A Billion Lives
          </h1>
          <div class="centercolumndownspan content">
            <div class="content__container">
              <p class="content__container__text">
                Through
              </p>
              <ul class="content__container__list">
                <li class="content__container__list__item dataColor" *ngFor="let item of dataArray">{{item}}</li>
              </ul>
            </div>
          </div>

          <!-- <span class="centercolumndownspan"> through 
            <span [ngClass]="showClass == true ?'showData': 'hideData'"  class="dataColor"> {{dataArray[index | async]}} </span>
          </span> -->
        </div>
        
        <div class="lowerColumn">
            <span>
                Seven years of crafting sweet experiences with
            </span><br>
            <span>
                Research, Design & Development
            </span>
        </div>
    </div>
</section>
