<section class="home" >
      <div class="column" >
        <div class="centerColumn">
          <span class="homeContaintMargin">We help you drive positive results through design</span>
          <h1>
            Human, Art, Technology
          </h1>
          <span class="centercolumndownspan"> through 
            <span #dataChange class="dataColor">  </span>
          </span>
        </div>
        
        <div class="lowerColumn">
            <span>
                What we offer of crafting sweet experiences with
            </span><br>
            <span>
                Research, Design & Development
            </span>
        </div>
    </div>
</section>
