<section class="home">
  <div class="container">
    <div class="column"style="width: 100%;">
      <div class="" style="display: flex; align-items: center; flex-direction: column;" >
        <div class="" style="display: flex;
        align-items: center;
        flex-direction: column;
    ">
          <span class="">We’ve made an impact on</span>
          <h1 class="" style="text-align: center;">
            A Billion Lives
          </h1>
        </div>
        <div>
            data changes
        </div>
    </div>
    
    <div class="">
        lower
    </div>
    </div>
  </div>
</section>
