/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
}

html, body{
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 300vh;
}